:root {
  --body-bgc: #ffffff; /* Колір фону тіла сайту*/
  --pri-text: #757575; /* Основний колір тексту */
  --pri-title: #212121; /* Основний колір заголовків */
  --pri-link: #212121; /* Основний колір посилань*/
  --pri-btn-text: #212121; /* Основний колір тексту кнопок */
  --sec-btn-text: #ffffff; /* Вторинний колір тексту кнопок */
  --btn-bgc: #f5f4fa; /* Основний колір фону кнопок */
  --pri-brand: #2196f3; /* Основний колір бренду (лого) */
  --accent: #2196f3; /* колір акценту (виділення посилань і кнопок)*/
  --btn-hover: #188ce8; /* Колір ховера для кнопки героя*/
  --sec-brand: #000000; /* вторинний колір бренду (лого шапка) */
  --ter-brand: #ffffff; /* Третинний колір бренду (лого футер) */
  --pri-section-bgc: #ffffff; /* Основний колір фону секцій*/
  --sec-section-bgc: #f5f4fa; /* Вторинний колір фону секцій */
  --ter-section-bgc: #2f303a; /* третинний колір фону секцій (шапка і футер) */
  --hero-text: #ffffff; /* Колір тексту героя */
  --footer-contacts: rgba(255, 255, 255, 0.6); /*колір контактів в підвалі */
  --ft-text: #ffffff; /* Колір тексту адреси у футері*/

  --color-one: #212121; /*SVG базовый цвет 1*/
  --color-two: #2196f3; /*SVG базовы цвет 2*/
  --color-three: #afb1b8; /* SVG базовый цвет 3 */

  --anim-func: cubic-bezier(0.4, 0, 0.2, 1);
  --anim-time: 250ms;
}

/*ЗАГАЛЬНІ СТИЛІ*/
body {
  background-color: var(--body-bgc);
  color: var(--pri-text);
  font-family: 'Roboto', 'Raleway', sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.714; /*24px*/
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list-box {
  list-style: none;

  display: flex;
}

.link {
  text-decoration: none;
  color: inherit;
}

.link.active,
.footer .link:focus,
.footer .link:hover,
.upper-line .link:focus,
.upper-line .link:hover {
  color: var(--accent);
}

.active {
  position: relative;
}

.active::after {
  content: "";
  display: inline-block;
  position: absolute;
  background-color: var(--accent);
  height: 4px;
  width: 100%;
  border-radius: 2px;
  bottom: -33px;
  left: 0;
}

.container {
  width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}

.hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.flex {
  display: flex;
  align-items: center;
}

.col {
  flex-direction: column;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
}

.overlay, .backdrop {
  transition: transform var(--anim-time) var(--anim-func), opacity var(--anim-time) var(--anim-func), visibility var(--anim-time) var(--anim-func);
}

.btn, .link {
  transition: color var(--anim-time) var(--anim-func), box-shadow var(--anim-time) var(--anim-func), background-color var(--anim-time) var(--anim-func);
}

.icon, .cap-btn, .footer-btn {
  transition: background-color var(--anim-time) var(--anim-func);
}

.social-icon, .company-icon {
  transition: fill var(--anim-time) var(--anim-func);
}

.link.icon:hover,
.link.icon:focus {
  fill: var(--hero-text);
  background-color: var(--accent);
}

.cap-btn,
.footer-btn{
  cursor: pointer;
  font-size: 16px;
  background-color: var(--accent);
  font-weight: bold;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--hero-text);

  border: 0px;
  border-radius: 4px;
}

.cap-btn:hover,
.cap-btn:focus,
.footer-btn:hover,
.footer-btn:focus {
  background-color: var(--btn-hover);
}

/*header*/

.upper-line {
  border-bottom: 1px solid #ececec;
  padding: 25px 0;
}

.upper-line .list:not(:first-child) {
  margin-left: 50px;
}

.nav-links {
  margin-left: 93px;
}

.upper-line .list-box {
  margin-left: auto;
}

.upper-line .list {
  letter-spacing: 0.02em;
  line-height: 1.172;
  font-weight: 500;
}

.email-icon,
.phone-icon {
  margin-right: 10px;
  fill: currentColor;
}

.brand {
  font-family: 'Raleway';
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
}

.brand-color-one {
  color: var(--pri-brand);
}

.upper-line .brand-color-two {
  color: var(--sec-brand);
}

.nav-links .list {
  color: var(--pri-link);
}

.contacts .list {
  color: var(--pri-text);
}

/*footer*/

.footer .brand-color-two {
  color: var(--ter-brand);
}

.cap,
footer {
  background-color: var(--ter-section-bgc);
}

.footer-address {
  color: var(--ft-text);
  font-style: normal;
}

.address {
  margin-top: 20px;
  width: 231px;
}

.footer .list-box {
  color: var(--footer-contacts);
  font-style: normal;
}

.address .list {
  margin-top: 9px;
}

.social-container {
  width: 206px;
  height: 80px;
  margin: 72px 93px 100px 70px;
}

.social-container .title,
.subscribe-form .title {
  color: var(--ft-text);
  margin-bottom: 20px;
}

.logo-container {
  margin-top: 60px;
}

.footer .icon {
  background-color: rgba(255, 255, 255, 0.1);
}
.footer .social-icon {
  fill: var(--hero-text);
}

.flex-row {
  display: flex;
}

.subscribe-form {
  width: 570px;
  height: 86px;
  margin-top: 72px;
  background-color: var(--ter-section-bgc);
}

.email {
  padding: 0;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;
}

.footer-btn {
  display: block;
  position: relative;
  margin-left: 12px;
  padding: 10px 62px 10px 29px;
}
.footer-btn::after {
    content: "";
    position: absolute;
    display: inline-block;
    height: 24px;
    width: 24px;
    border-radius: 1px;
    outline: solid 1px red;
    top: 13px;
    right: 28px;
    background-image: url(../images/icons.svg#icon-send);
}

.logo-container, .social-container, .subscribe-form {
  outline: solid 1px cyan;
}

/*Стилі файлу index */

.cap {
  padding: 200px 0;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/cap-bg-img.jpg);
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.cap-title {
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-text);

  text-align: center;
  margin-bottom: 30px;
}

.cap-btn {
   padding: 10px 32px;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.btn-close {
  justify-content: center;
  cursor: pointer;
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--body-bgc);
}

.feature-box {
  display: block;
  margin-bottom: 30px;
  padding: 25px 100px;
  background-color: var(--sec-section-bgc);
  width: 270px;
  height: 120px;
}

.our-works.section {
  padding-top: 0px;
}

.our-works .title,
.our-team .title,
.profession {
  text-align: center;
}

.our-team {
  background-color: var(--sec-section-bgc);
}

.our-team .list.card {
  background-color: var(--pri-section-bgc);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.features .list:not(:first-child),
.our-works .list:not(:first-child),
.our-team .list.card:not(:first-child) {
  margin-left: 30px;
}

.features .list .title,
.our-team .list .title {
  margin-bottom: 10px;
}

.team-card {
  padding: 30px 0;
}

.social-icons .list:not(:first-child) {
  margin-left: 10px;
}

.our-team .social-icons {
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}

.our-team .social-icon, .company-icon {
  fill: var(--color-three);
}

.our-team .icon:hover .social-icon,
.our-team .icon:focus .social-icon{
  fill: var(--hero-text);
}
.company-box {
  display: block;
  width: 170px;
  height: 92px;
  border: 1px solid var(--color-three);
  border-radius: 4px;
  padding: 16px 32px;
}

.company-box:hover,
.company-box:focus {
  border: 1px solid var(--accent);
}

.company-box:hover .company-icon,
.company-box:focus .company-icon{
  fill: var(--accent);
}
.main-content .title {
  color: var(--pri-title);
}

.features .list {
  width: 270px;
}

.features .title,
.social-container .title,
.subscribe-form .title,
.label .title {
  text-transform: uppercase;
  line-height: 1.172;
  font-size: inherit;
}

.our-works .list {
  position: relative;
}

.label {
  width: 100%;
  bottom: 0;
  position: absolute;
  background-color: rgba(47, 48, 58, 0.8);;
  padding: 27px 0px;
}

.label .title {
   color: var(--hero-text);
}

.our-team .title,
.our-team .profession {
  font-size: 16px;
  line-height: 1.188;
}

.first.title {
  font-size: 36px;
  line-height: 1.167;
  margin-bottom: 50px;
}

.customers-cards .list {
  flex-basis: calc(100% / 6 - 30px);
  margin-left: 30px;
}

.customers-cards {
  margin-left: -30px;
}

/*Стилы файлу portfolio*/

.portfolio .title {
  font-size: 18px;
  line-height: 2;
}

.portfolio .type {
  font-size: 16px;
  line-height: 1.875;
}

.filters .btn {
  padding: 6px 22px;
}

.btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  height: 38px;
  line-height: 1.625;
  background-color: var(--btn-bgc);
  border-style: none;
  border-radius: 4px;
}

.btn-active,
.btn:hover,
.btn:focus {
  cursor: pointer;
  background-color: var(--accent);
  color: var(--sec-btn-text);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filters .list:not(:first-child) {
  margin-left: 8px;
}

.filters {
  margin-bottom: 50px;
}

.portfolio-card {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}

.portfolio-cards .list {
  flex-basis: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;
}

.portfolio-cards {
  margin-top: -30px;
  margin-left: -30px;
  flex-wrap: wrap;
}

.portfolio-card .title {
  margin-bottom: 4px;
}
/*для применения теней*/
.portfolio-cards .link {
  display: block;
}

.portfolio-cards .link:focus,
.portfolio-cards .link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
  1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-cards .image-box {
  position: relative;
  overflow: hidden;
}

.overlay .text {
  padding: 0 24px;
  color: var(--hero-text);
  font-size: 18px;
  line-height: 1.556;
}
.portfolio-cards .overlay {
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);
  height: 100%;
  width: 100%;
  opacity: 0;
  bottom: -100%;
  pointer-events: none;
}

.portfolio-cards .link:hover .overlay,
.portfolio-cards .link:focus .overlay {
  opacity: 1;
  transform: translateY(-100%);
}
/* .input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
} */

.test {
  outline: solid 1px yellow;
}
.test-svg{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--pri-text);
  outline: solid 1px blueviolet;
}